node_modules/
dist/
.vscode/launch.json
.gitignore
backend/core/__pycache__
backend/core/__pycache__
backend/data
extension/node_modules
extension/.next
.env
.env.local
.vscode/
.cursor/
node_modules/
/extension/_next/
/extension/out/