node_modules/
dist/
.vscode/launch.json
backend/core/__pycache__
backend/data
extension/node_modules
extension/.next
.env
.env.local
.vscode/
.cursor/
/extension/_next/
/extension/out/
*.db
backend/autofill-arena.db
uml_form_detection.py